@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#body-index {
    background-image: url('../img/background_index.jpg');   

}

#body-chat {
    flex-grow: 1;
    background-color: rgb(77, 194, 232);
    z-index: 2;
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.content-wrapper {
    position: relative;
    text-align: center;
    z-index: 1;
}

.titre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px; 
}

.titre div {
    position: relative;
    font-size: 100px; 
    color: blue;
    font-weight: bold;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-shadow: -3px -3px 3px #000, 3px -3px 3px #000, -3px 3px 3px #000, 3px 3px 3px #000;
}


.container {
    background-color: whitesmoke;
    border:3px solid #333;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.sign-in-input-group {
    margin-bottom: 10px;
}


a {
    display: block;
    text-align: center;
    margin-top: 10px;
}


form {
    margin-top: 20px;
}

form input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    box-sizing: border-box;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.ball {
	position:absolute;
    width: 7.5vw;
    height: 7.5vh;
	background-image:url('../img/ball.png');
    z-index: 1;
    background-repeat: no-repeat;
    background-size: contain;
}

#custom-ball {
    top: 67.5vh;
    left: 48vw;
}

#bottom-bar {
    background-color: lightblue; 
    padding: 10px;
    width: 100vw;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

#sign-out-btn {
    padding: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: fit-content;
}

textarea {
    flex-grow: 1;
    margin-right: 10px;
    max-width: calc(100% - 120px);
}

#vue-container {
    background-image: url('../img/background-chat.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#scoreboard {
    position: fixed;
    top: 5vh;
    left: 42%;
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px;
    font-size: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column; 
    width: 250px; 
}

.score_1 {
    display: flex;
    flex-direction: row; 
}

.team, .score {
    margin-bottom: 10px;
}

#gremio {
    margin-right: 40px;
}

#visitor {
    margin-right: 125px;
}

#gremio, #visitor {
    font-weight: bold;
}

#gremio-score, #visitor-score {
    font-size: 24px; 
}

#suarez {
    position: absolute;
    top: 37vh;
    left: 20vw;
    width: 40vw;
    height: 40vh;
    background-image: url('../img/suarez.png'); 
    background-repeat: no-repeat;
    background-size: contain;

}

.gk_0 {
    position: absolute;
    top: 47vh;
    left: 47vw;
    width: 20vw;
    height: 20vh;
    background-image: url('../img/gk_pos0.png'); 
    background-repeat: no-repeat;
    background-size: contain;
}

.gk_1 {
    position: absolute;
    top: 47vh;
    left: 38vw;
    width: 20vw;
    height: 20vh;
    background-image: url('../img/gk_pos1.png'); 
    background-repeat: no-repeat;
    background-size: contain;
}

.gk_2 {
    position: absolute;
    top: 42vh;
    left: 37vw;
    width: 22vw;
    height: 22vh;
    background-image: url('../img/gk_pos2.png'); 
    background-repeat: no-repeat;
    background-size: contain;
}

.gk_3 {
    position: absolute;
    top: 36vh;
    left: 49vw;
    width: 22vw;
    height: 22vh;
    background-image: url('../img/gk_pos3.png'); 
    background-repeat: no-repeat;
    background-size: contain;
}

.gk_4 {
    position: absolute;
    top: 50vh;
    left: 46vw;
    width: 16vw;
    height: 16vh;
    background-image: url('../img/gk_pos4.png'); 
    background-repeat: no-repeat;
    background-size: contain;
}

.box {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    position: absolute; 
    top: 2vh; 
    z-index: 2;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 500vh;
}

#chat-box {
    right: 12vw;
    width: 20vw; 
}

#members-box {
    right: 0; 
    width: 10vw;
}